---
import BlogCard from '@/components/blog-card.astro'
import Link from '@/components/link.astro'
import PageHead from '@/components/page-head.astro'
import { buttonVariants } from '@/components/ui/button'
import { SITE } from '@/consts'
import Layout from '@/layouts/layout.astro'
import { getRecentPosts } from '@/lib/data-utils'

const blog = await getRecentPosts(SITE.featuredPostCount)
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Home" />
  <section>
    <div class="card-offset mx-0 p-6 lg:px-8">
      <div class="flex flex-col space-y-1.5 pb-4">

        <h3 class="text-3xl leading-none font-bold text-accent-foreground">Hi, I'm Allan</h3> 
        <p class="text-foreground text-md">
        also known as, <span class="font-cooper">doni</span>
        </p>
        <p class="text-muted-foreground text-sm">
          software engineer | hobbyist photographer 
        </p>
      </div>
      <div class="pt-0">
        <p class="text-md">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget elit velit. Morbi est ligula, tempor rutrum dolor in, congue pretium augue. Fusce finibus dignissim leo in sodales. Cras aliquet dui tortor. Aenean vestibulum commodo ligula, et convallis augue pellentesque sodales. Ut ante augue, faucibus vitae dictum nec, rutrum quis tellus. Ut ornare vel justo et sagittis. Donec pretium leo massa, a scelerisque nulla malesuada ac.
          Aliquam sit amet nisi sed ex convallis finibus.
        </p>
        <p class="text-md mt-4">
           Nam id mi quis libero egestas porta et nec sem. Cras diam felis, luctus euismod augue nec, placerat luctus magna. 
          <Link
          href="/about"
          class="text-foreground"
          underline>about</Link
        > placerat luctus magna. <Link
        href="/projects"
        class="text-foreground"
        underline>projects</Link 
      > Donec id aliquet libero. Nunc sed felis quis nisi aliquet iaculis.
      </div>
    </div>
  </section>
  <section class="flex flex-col gap-y-4 mt-4 lg:mt-0">
    <h2 class="text-2xl font-cooper ">Latest posts</h2>
    <ul class="flex flex-col gap-y-4">
      {
        blog.map((post) => (
          <li>
            <BlogCard entry={post} />
          </li>
        ))
      }
    </ul>
    <div class="flex justify-center">
      <Link
        href="/blog"
        class={buttonVariants({ variant: 'ghost' }) + ' group'}
      >
        See all posts <span
          class="ml-1.5 transition-transform group-hover:translate-x-1"
          >&rarr;</span
        >
      </Link>
    </div>
  </section>
</Layout>
